@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-emerald-50/80 text-gray-800 antialiased;
}

* {
    font-family: Outfit;
}

a.active hr {
    @apply block;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}

@media (max-width:640px) {
    a.active {
        @apply bg-emerald-700 text-white;
    }
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-marquee {
    animation: marquee 38s linear infinite;
}
